/* ------------------------------------------------------
  Stylesheet Guide
  ------------------------------------------------------

    1. Global
        1.1. Fonts
        1.2. General styles
        1.3. Color scheme
            1.3.1. CMU Red (#bb0000) - Color scheme
            1.3.2. Gray (#e0e0e0) - Color scheme
            1.3.3. Dark Gray (#666666) - Color scheme
            1.3.4. Gold (#aa6600) - Color scheme
            1.3.5. Teal (#006677) - Color scheme
            1.3.6. Blue (#224477) - Color scheme
            1.3.7. Green (#008855) - Color scheme
            1.3.8. Dark Green (#224433) - Color scheme
        1.4. Typography
        1.5. Custom class
        1.6. Icons class
    2. Header
        2.1. Structure, logo
        2.2. Header text
    3. Sections
    4. Footer
    5. Media queries

------------------------------------------------------ */

/* ------------------------------------------------------
    1. Global
------------------------------------------------------ */

    /* ------------------------------------------------------
        1.1. Fonts
    ------------------------------------------------------ */

        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

    /* ------------------------------------------------------
        1.2. General styles
    ------------------------------------------------------ */

        .my-container {
            padding: 0 15%;
        }

    /* ------------------------------------------------------
        1.3. Color scheme
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            1.3.1. CMU Red (#bb0000) - Color scheme
        ------------------------------------------------------ */

        :root {
            --cmu-red: #bb0000;
        }

        /* ------------------------------------------------------
            1.3.2. Gray (#e0e0e0) - Color scheme
        ------------------------------------------------------ */

        :root {
            --cmu-gray: #e0e0e0;
        }

        /* ------------------------------------------------------
            1.3.3. Dark Gray (#666666) - Color scheme
        ------------------------------------------------------ */

        :root {
            --cmu-dark-gray: #666666;
        }

        /* ------------------------------------------------------
            1.3.4. Gold (#aa6600) - Color scheme
        ------------------------------------------------------ */

        :root {
            --cmu-gold: #aa6600;
        }

        /* ------------------------------------------------------
            1.3.5. Teal (#006677) - Color scheme
        ------------------------------------------------------ */

        :root {
            --cmu-teal: #006677;
        }

        /* ------------------------------------------------------
            1.3.6. Blue (#224477) - Color scheme
        ------------------------------------------------------ */

        :root {
            --cmu-blue: #224477;
        }

        /* ------------------------------------------------------
            1.3.7. Green (#008855) - Color scheme
        ------------------------------------------------------ */

        :root {
            --cmu-green: #008855;
        }

        /* ------------------------------------------------------
            1.3.8. Dark Green (#224433) - Color scheme
        ------------------------------------------------------ */

        :root {
            --cmu-dark-green: #224433;
        }

    /* ------------------------------------------------------
        1.4. Typography
    ------------------------------------------------------ */

        /* Mobile visitors should see Roboto (Android), Helvetica (iOS), or the browser's default sans-serif. */
        html, button, input, select, textarea {
            font-family: 'Roboto', 'Helvetica', sans-serif
            }

        /* To speed up load time, only use Open Sans for screens larger than tablet. */
        @media only screen and (min-width: 768px) {
            html, button, input, select, textarea { 
            font-family: 'Open Sans', 'Helvetica', sans-serif 
            }
        }

    /* ------------------------------------------------------
        1.5. Custom Class
    ------------------------------------------------------ */

    /* ------------------------------------------------------
        1.6. Icons Class
    ------------------------------------------------------ */

/* ------------------------------------------------------
    2. Header
------------------------------------------------------ */

    /* ------------------------------------------------------
        2.1 Structure, logo
    ------------------------------------------------------ */

        .roof {
            padding: 2em 9%;
            min-height: 39px;
            background-color: var(--cmu-red);

            font-size: 90%;
            line-height: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        @media only screen and (min-width: 768px) {
            .roof {
                padding: 0 15%;
            }
        }

        .my-brand {
            margin: 40px 0;
        }

        .wordmark {
            min-width: 300px;
            max-height: 31px;
        }

    /* ------------------------------------------------------
        2.2 Header text
    ------------------------------------------------------ */

    /* ------------------------------------------------------
    3. Sections
------------------------------------------------------ */

/* ------------------------------------------------------
    4. Footer
------------------------------------------------------ */

/* ------------------------------------------------------
    5. Media queries
------------------------------------------------------ */