/* ------------------------------------------------------
  Stylesheet Guide
  ------------------------------------------------------

    1. Global
        1.1. Fonts
        1.2. General styles
        1.3. Color scheme
        1.4. Typography
        1.5. Custom class
        1.6. Transitions
    2. Header
        2.1. Structure, logo
            2.1.1 Site Roof
            2.1.2 Sitename
        2.2. Header text
    3. Main
    4. Footer
    5. Sidenav

------------------------------------------------------ */

/* ------------------------------------------------------
    1. Global
------------------------------------------------------ */

    /* ------------------------------------------------------
        1.1. Fonts
    ------------------------------------------------------ */

        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

    /* ------------------------------------------------------
        1.2. General styles
    ------------------------------------------------------ */

        body {
            height: 100%;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.35em;
            word-wrap: break-word;
        }

        /* Various Links */
        a {
            color: var(--cmu-red);
            border-bottom: 1px solid #faa;
            text-decoration: none;
        }

        a:visited {
            color: #800;
            border-bottom-color: #c99;
        }

        a:focus, a:hover {
            text-decoration: none;
            color: red;
            border-bottom-color: red;
        }

        .navbar a, nav a {
            border: none !important;
        }

        /* Lists */
        .navbar ul, nav ul {
            list-style: none;
        }

        ul {
            padding-left: 0;
            list-style-type: none;
        }

        ul li {
            list-style-position: outside;
        }

        li {
            padding: 0.5em 0;
            line-height: 1.65em;
        }

        li:first-child {
            padding-top: 0;
        }


    /* ------------------------------------------------------
        1.3. Color scheme
    ------------------------------------------------------ */

        :root {
            --cmu-red: #bb0000;
            --cmu-gray: #e0e0e0;
            --cmu-dark-gray: #666666;
            --cmu-gold: #aa6600;
            --cmu-teal: #006677;
            --cmu-blue: #224477;
            --cmu-green: #008855;
            --cmu-dark-green: #224433;
        }

    /* ------------------------------------------------------
        1.4. Typography
    ------------------------------------------------------ */

        /* Mobile visitors should see Roboto (Android), Helvetica (iOS), or the browser's default sans-serif. */
        html, button, input, select, textarea {
            font-family: 'Roboto', 'Helvetica', sans-serif
            }
        
        html, body {
            overflow-x: hidden;
        }

        /* To speed up load time, only use Open Sans for screens larger than tablet. */
        @media only screen and (min-width: 767px) {
            html, button, input, select, textarea { 
            font-family: 'Open Sans', 'Helvetica', sans-serif 
            }

            h1 {
                font-size: 2em;
            }
        }

        input, textarea {
            background: #fff;
            border: 1px solid rgba(0,0,0,.35);
            font-size: 1em;
            margin: .25em 0;
            padding: .35em .5em;
            position: relative;
            display: inline-block;
            max-width: calc(100% - 6px - .5em);
        }

    /* ------------------------------------------------------
        1.5. Custom Class
    ------------------------------------------------------ */

    /* ------------------------------------------------------
        1.6. Transitions
    ------------------------------------------------------ */

        /* Basically, any non-touch device has this transition */
        body:not(.touch) a, body:not(.touch) b, body:not(.touch) button, body:not(.touch) div, body:not(.touch) em, body:not(.touch) form, body:not(.touch) h1, body:not(.touch) header, body:not(.touch) i, body:not(.touch) img, body:not(.touch) input, body:not(.touch) label, body:not(.touch) main, body:not(.touch) nav, body:not(.touch) p, body:not(.touch) span, body:not(.touch) strong {
            transition: background-color .3s ease,border-color .3s ease,box-shadow .3s ease,color .3s ease,margin .3s ease,min-height .3s ease,max-width .3s ease,opacity .3s ease,padding-left .3s ease,padding-right .3s ease,left .3s ease,right .3s ease,text-shadow .3s ease,width .3s ease;
        }

/* ------------------------------------------------------
    2. Header
------------------------------------------------------ */

    /* ------------------------------------------------------
        2.1 Structure, logo
    ------------------------------------------------------ */
        
        /* ------------------------------------------------------
            2.1.1 Site Roof
        ------------------------------------------------------ */

            .roof {
                padding: 0 9%;
                min-height: 39px;
                background-color: var(--cmu-red);

                font-size: 90%;
                line-height: 0;

                margin-bottom: 1em;
            }

            .my-brand {
                max-height: 39px;
            }

            .breadcrumbs, .content, .grid, .hero .caption, .hero > .text, .roof, header nav, header > div {
                padding: 0 9%;
                width: auto;
            }

            /* Phone Screens */
            @media only screen and (max-width: 767px) {
                .roof {
                    position: relative;
                }

                .my-brand {
                    max-height: unset;
                    width: 85%;
                }
            }

            /* Tablet Screens */
            @media only screen and (max-width: 1300px) {
                .roof, .breadcrumbs, .content, .grid, .hero .caption, .hero > .text, .roof, header nav, header > div {
                    padding-left: 2%;
                    padding-right: 2%;
                }
            }

            /* Desktop Screens */
            @media only screen and (min-width: 1700px) {
                .roof {
                    padding: 0 15%;
                }

                .breadcrumbs, .content, .grid, .hero .caption, .hero > .text, .roof, header nav, header > div {
                    padding: 0 15%;
                    width: auto;
                }
            }

            .wordmark {
                display: inline-block;
                min-height: 2.15em;
                min-width: 300px;
                margin: 6px 0 2px;

                text-indent: -9999px;
                background: url(../wordmark/cmu-wordmark-horizontal-w.png) no-repeat left center scroll transparent;
                background-size: auto;
                background-size: contain
            }

            .roof a.wordmark, .roof.invert .wordmark {
                max-height: unset;
                width: 85%;
                margin: 4px 0 1px;
                min-width: 300px;
            }

            .menu-btn {
                display: block;
                position: absolute;
                float: right;
                top: 0;
                right: 9%;
                color: #fff;
                margin-top: 5px;
                font-size: 2.5em;
                line-height: .85em;
                transition: right linear .2s;
            }

            .menu-btn:hover, .menu-btn:visited {
                color: #fff;
            }

            /* Search */
            /* Stlyes pulled from https://www.cmu.edu/dietrich/ */
            .roof form {
                position: absolute;
                top: 0;
                right: calc(9% + 42px);
                display: flex;
                flex-flow: nowrap row;
                align-items: stretch;
                align-content: stretch;
                justify-content: flex-start;
                height: 100%;
                line-height: 1.65em;
                width: 25%;
                max-width: 300px;
            }

            .search label {
                height: 100%;
                width: 100%;
            }

            .search label:not(.searchSite) span {
                display: none;
            }

            input:not([type="radio"]), select, textarea {
                border-radius: 0;
            }

            .roof input[placeholder="Search"] {
                background-color: rgba(0,0,0,.2);
                border: 0 none;
                color: #fff;
                height: 100%;
                margin: 0;
                padding: 0 30px 0 8px;
                width: calc(100% - 38px);
            }

            .roof label.searchSite {
                display: none;
                position: absolute;
                letter-spacing: .025em;
                left: -105%;
                text-align: right;
                top: 30%;
            }

            .roof.invert .search button {
                height: 100%;
                margin: 0;
            }

            .search label.searchSite span {
                font-size: 90%;
                margin: 1px 0 0 .5em;
                float: right;
            }

            /* Hide checkbox until searchbox is clicked within */
            .search label.searchSite, .search label:not(.searchSite) span {
                display: none;
            }

            .roof input[type="checkbox"] {
                margin: 0;
                vertical-align: baseline;
            }

            .search button {
                background: url(../img/icon-magnify.png) scroll no-repeat 50% 50%;
                background-color: rgba(0,0,0,.2);
                background-size: auto;
                background-size: 50%;
                height: 100%;
                padding: 0 14px 0 24px;
                text-indent: -9999px;
                width: auto;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                border: 0 none;
            }

            @media only screen and (max-width: 767px) {
                .roof .menu-btn + form {
                    right: 0;
                }

                .roof form {
                    position: relative;
                    right: auto;
                    display: block;
                    padding-top: 0;
                    top: auto;
                    width: 100%;
                    padding: 0;
                    max-width: none;
                }

                .search button {
                    display: none;
                }

                .roof input[placeholder="Search"] {
                    padding-bottom: .35em;
                    padding-top: .35em;
                    padding-right: 8px;
                    width: 100%;
                    max-width: unset;
                    background-image: url(../img/icon-magnify.png);
                    background-repeat: no-repeat;
                    background-position: 98% center;
                    background-size: auto 80%;
                    font-size: 16px;
                }
            }

            @media only screen and (max-width: 1300px) {
                .roof form {
                    right: calc(2% + 42px);
                }

                .menu-btn {
                    right: 2%
                }
            }

            @media only screen and (min-width: 1700px) {
                .roof form {
                    right: calc(15% + 42px);
                }

                .menu-btn {
                    right: 15%
                }
            }

        /* ------------------------------------------------------
            2.1.2 Sitename
        ------------------------------------------------------ */

            #sitename, #sitename a {
                box-sizing: border-box;
                color: #333;
                border: 0;
                padding-top: 0;
                padding-bottom: 0;
            }

            @media only screen and (max-width: 767px) {
                #sitename h1 {
                    line-height: 1.15em;
                    padding-bottom: .125em;
                }

                header:not(.float) #sitename {
                    padding-left: 0;
                    padding-right: 0;
                    margin: 0 2%;
                }
                
                #content, #sitename {
                    padding-top: 1em;
                    transition: none;
                }
            }

            @media only screen and (max-width: 960px) {
                #sitename h1 {
                    font-size: 2.5em;
                }
            }

            @media only screen and (max-width: 1300px) {
                
            }

    /* ------------------------------------------------------
        2.2 Header text
    ------------------------------------------------------ */

        .menu-btn b {
            display: block;
            font-weight: 400;
            line-height: 7px;
            right: 0;
            transition: none !important;
        }

/* ------------------------------------------------------
    3. Main
------------------------------------------------------ */

    .container {
        max-width: unset;
    }

    .core {
        padding: 0 9%;
    }

    /* Phone Screens */
    @media only screen and (max-width: 767px) {
        .core {
            position: relative;
        }
    }

    /* Tablet Screens */
    @media only screen and (max-width: 1300px) {
        .core {
            padding: 0 2%;
        }
    }

    /* Desktop Screens */
    @media only screen and (min-width: 1700px) {
        .core {
            padding: 0 15%;
        }
    }

    .core > * {
        margin: 0;
    }
        

/* ------------------------------------------------------
    4. Footer
------------------------------------------------------ */

    .foot {
        padding: 0 9%;
        font-size: 90%;
        letter-spacing: .05em;
    }

    /* Phone Screens */
    @media only screen and (max-width: 767px) {
        .foot {
            position: relative;
        }
    }

    /* Tablet Screens */
    @media only screen and (max-width: 1300px) {
        .foot {
            padding: 0 2%;
        }
    }

    /* Desktop Screens */
    @media only screen and (min-width: 1700px) {
        .foot {
            padding: 0 15%;
        }
    }

    /* Divide footer from sidenav */
    .menu-on #final-footer {
        border-right: 1px solid rgba(255,255,255,0.15);
    }

    #sub-footer {
        background-color: var(--cmu-gray);
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #sub-footer ul {
        margin: 0;
    }

    #final-footer {
        background-color: #333;
        color: var(--cmu-gray);
        padding-top: 2em;
        padding-bottom: 2em;
    }

    footer #address > p {
        color: rgba(255,255,255,0.5);
        margin: 0;
    }

    #address > p:last-child {
        margin-bottom: 1em;
    }

    #legal > p:first-child > a {
        color: #fff;
        border: none;
    }

    #legal > p:last-child {
        color: rgba(255,255,255,0.5);
    }

    /* Socials */
    /* All socials use the same spritesheet. Select a different image by translating the background image on the x axis */

    #my-socials {
        margin: 0;
        padding: 0;
    }

    #my-socials li {
        display: inline;
    }

    #my-socials li:first-child {
        padding-top: 7.2px;
    }

    #my-socials a {
        display: inline-block;
        height: 30px;
        width: 30px;
        margin: 0 6px 6px 0;
        padding-bottom: 0 !important;
        text-indent: -9999px;
    }

    #facebook {
        background: 0 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

    #twitter {
        background: -32px 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

    #youtube {
        background: -130px 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

    #rss {
        background: -194px 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

    #instagram {
        background: -258px 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

/* ------------------------------------------------------
    5. Sidenav
------------------------------------------------------ */

    #non-sidenav {
        display: inline-block;
        width: 100%;

    }

    #sidenav {
        display: none;

        width: 300px;
        height: 100%;
        background: #333;
    }

    #sidenav menu-on {
        display: inline-block;
        position: fixed;
    }





    /* Handle resizing on default to -300px less */
    #non-sidenav menu-on {
        width: calc(100% - 300px);
        z-index: 101;
    }

    /* Handle side nav on small screens to cover, not resize*/
    @media only screen and (max-width: 960px) {
        #non-sidenav menu-on {
            width: 100vw;
            position: fixed;
        }
    }

    /* Handle resizing on large screens to -450px less */
    @media only screen and (min-width: 1700px) {
        #non-sidenav menu-on {
            width: calc(100% - 450px);
            z-index: 101;
        }

        #sidenav {
            width: 450px;
        }
    }