@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* ------------------------------------------------------
  Stylesheet Guide
  ------------------------------------------------------

    1. Global
        1.1. General styles
        1.2. Color scheme
        1.3. Typography
        1.4. Custom class
        1.5. Transitions
    2. Header
        2.1. Structure, logo
            2.1.1. Site Roof
            2.1.2. Sitename
            2.1.3. Secondary Nav
        2.2. Header text
    3. Main
        3.1. Carousel
        3.2. Text Blurb
        3.3. Breadcrumbs
        3.4. Images
    4. Footer
    5. Sidenav
        5.1. Links
        5.2. Search

------------------------------------------------------ */

/* ------------------------------------------------------
    1. Global
------------------------------------------------------ */

    html, body {
            overflow-x: hidden;
        }

    /* ------------------------------------------------------
        1.1. General styles
    ------------------------------------------------------ */

        body {
            height: 100%;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.35em;
            word-wrap: break-word;
        }

        /* Various Links */
        a {
            color: var(--cmu-red);
            border-bottom: 1px solid #faa;
            text-decoration: none;
        }

        a:visited {
            color: #800;
            border-bottom-color: #c99;
        }

        a:focus, a:hover {
            text-decoration: none;
            color: red;
            border-bottom-color: red;
        }

        .navbar a, nav a {
            border: none !important;
        }

        /* Lists */
        .navbar ul, nav ul {
            list-style: none;
        }

        ul {
            padding-left: 0;
            list-style-type: none;
        }

        ul li {
            list-style-position: outside;
        }

        li {
            padding: 0.5em 0;
            line-height: 1.65em;
        }

        li:first-child {
            padding-top: 0;
        }


    /* ------------------------------------------------------
        1.2. Color scheme
    ------------------------------------------------------ */

        :root {
            --cmu-red: #bb0000;
            --cmu-gray: #e0e0e0;
            --cmu-dark-gray: #666666;
            --cmu-gold: #aa6600;
            --cmu-teal: #006677;
            --cmu-blue: #224477;
            --cmu-green: #008855;
            --cmu-dark-green: #224433;
        }

    /* ------------------------------------------------------
        1.3. Typography
    ------------------------------------------------------ */

        html, body {
            color: var(--cmu-dark-gray);
        }

        /* Mobile visitors should see Roboto (Android), Helvetica (iOS), or the browser's default sans-serif. */
        html, body, button, input, select, textarea {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            }
        
        

        /* To speed up load time, only use Open Sans for screens larger than tablet. */
        @media only screen and (min-width: 768px) {
            html, body, button, input, select, textarea { 
            font-family: 'Open Sans', 'Helvetica', sans-serif;
            }
        }

        input, textarea {
            background: #fff;
            border: 1px solid rgba(0,0,0,.35);
            font-size: 1em;
            margin: .25em 0;
            padding: .35em .5em;
            position: relative;
            display: inline-block;
            max-width: calc(100% - 6px - .5em);
        }

        p {
            line-height: 1.75em;
        }

        .h1, .h2, h1, h2, h3, h4, h5, h6 {
            color: #767676;
            font-size: 1em;
            font-weight: 700;
            line-height: 1.35em;
            word-wrap: normal;
            line-height: 1.35em;
            margin: 0;
            padding: 1em 0;
            word-wrap: normal;
        }

        .h1, h1 {
            font-size: 2.35em;
            font-weight: 300;
        }

        h2 {
            font-size: 1.5em;
        }

        .h1 + .h2, .h1 + h2, h1 + .h2, h1 + h2 {
            margin-top: -1.35em;
            font-weight: 300;
        }

        #sitename h1 {
            padding-top: 0.25em;
        }

        #sitename h2 {
            color: inherit;
            font-style: normal;
            margin-top: -1.5em;
            padding-top: 0;
        }


        .h1 + .h2, .h1 + h2, .h2 + h3, h1 + .h2, h1 + h2, h2 + h3 {
            letter-spacing: 0;
            margin-top: -.5em;
            text-transform: inherit;
        }

        .h2, .sidebar .blockquote, .sidebar blockquote, h2 {
            color: #707070;
            font-size: 1.5em;
            font-weight: 300;
        }

        @media only screen and (max-width: 767px) {

            h1 {
                font-size: 2em;
            }

            #sitename h2 {
                margin-top: 0;
            }
        }

    /* ------------------------------------------------------
        1.4. Custom Class
    ------------------------------------------------------ */

    /* ------------------------------------------------------
        1.5. Transitions
    ------------------------------------------------------ */

        /* Basically, any non-touch device has this transition */
        body:not(.touch) a, body:not(.touch) b, body:not(.touch) button, body:not(.touch) div, body:not(.touch) em, body:not(.touch) form, body:not(.touch) h1, body:not(.touch) header, body:not(.touch) i, body:not(.touch) img, body:not(.touch) input, body:not(.touch) label, body:not(.touch) main, body:not(.touch) nav, body:not(.touch) p, body:not(.touch) span, body:not(.touch) strong {
            transition: background-color .3s ease,border-color .3s ease,box-shadow .3s ease,color .3s ease,margin .3s ease,min-height .3s ease,max-width .3s ease,opacity .3s ease,padding-left .3s ease,padding-right .3s ease,left .3s ease,right .3s ease,text-shadow .3s ease,width .3s ease;
        }

/* ------------------------------------------------------
    2. Header
------------------------------------------------------ */

    /* ------------------------------------------------------
        2.1. Structure, logo
    ------------------------------------------------------ */
        
        /* ------------------------------------------------------
            2.1.1. Site Roof
        ------------------------------------------------------ */

            .roof {
                padding: 0 9%;
                min-height: 39px;
                background-color: var(--cmu-red);

                font-size: 90%;
                line-height: 0;
            }

            .my-brand {
                max-height: 39px;
            }

            .breadcrumbs, .content, .grid, .hero .caption, .hero > .text, .roof, header nav, header > div {
                padding: 0 9%;
                width: auto;
            }

            #container > header a, #container > header a:focus, #container > header a:hover, .roof a, .roof a:focus, .roof a:hover, .roof.invert a {
                border-bottom-color: transparent;
            }

            /* Phone Screens */
            @media only screen and (max-width: 767px) {
                .roof {
                    position: relative;
                }

                .my-brand {
                    max-height: unset;
                    width: 85%;
                }
            }

            /* Tablet Screens */
            @media only screen and (max-width: 1300px) {
                .roof, .breadcrumbs, .content, .grid, .hero .caption, .hero > .text, .roof, header nav, header > div {
                    padding-left: 2%;
                    padding-right: 2%;
                }
            }

            /* Desktop Screens */
            @media only screen and (min-width: 1700px) {
                .roof {
                    padding: 0 15%;
                }

                .breadcrumbs, .content, .grid, .hero .caption, .hero > .text, .roof, header nav, header > div {
                    padding: 0 15%;
                    width: auto;
                }
            }

            .wordmark {
                display: inline-block;
                min-height: 2.15em;
                min-width: 300px;
                margin: 6px 0 2px;

                text-indent: -9999px;
                background: url(../wordmark/cmu-wordmark-horizontal-w.png) no-repeat left center scroll transparent;
                background-size: auto;
                background-size: contain
            }

            .roof a.wordmark, .roof.invert .wordmark {
                max-height: unset;
                width: 85%;
                margin: 4px 0 1px;
                min-width: 300px;
            }

            .menu-btn {
                display: block;
                position: absolute;
                float: right;
                top: 0;
                right: 9%;
                color: #fff;
                margin-top: 5px;
                font-size: 2.5em;
                line-height: .85em;
                transition: right linear .2s;
            }

            .menu-btn:hover, .menu-btn:visited {
                color: #fff;
            }

            /* Search */
            /* Stlyes pulled from https://www.cmu.edu/dietrich/ */
            .roof form {
                position: absolute;
                top: 0;
                right: calc(9% + 42px);
                display: flex;
                flex-flow: nowrap row;
                align-items: stretch;
                align-content: stretch;
                justify-content: flex-start;
                height: 100%;
                line-height: 1.65em;
                width: 25%;
                max-width: 300px;
            }

            .search label {
                height: 100%;
                width: 100%;
            }

            .search label:not(.searchSite) span {
                display: none;
            }

            input:not([type="radio"]), select, textarea {
                border-radius: 0;
            }

            .roof input[placeholder="Search"] {
                background-color: rgba(0,0,0,.2);
                border: 0 none;
                color: #fff;
                height: 100%;
                margin: 0;
                padding: 0 30px 0 8px;
                width: calc(100% - 38px);
            }

            .roof label.searchSite {
                display: none;
                position: absolute;
                letter-spacing: .025em;
                left: -105%;
                text-align: right;
                top: 30%;
            }

            .roof.invert .search button:not(#nav-submit) {
                height: 100%;
                margin: 0;
            }

            .search label.searchSite span {
                font-size: 90%;
                margin: 1px 0 0 .5em;
                float: right;
            }

            /* Hide checkbox until searchbox is clicked within */
            .search label.searchSite, .search label:not(.searchSite) span {
                display: none;
            }

            .roof input[type="checkbox"] {
                margin: 0;
                vertical-align: baseline;
            }

            .search button {
                background: url(../img/icon-magnify.png) scroll no-repeat 50% 50%;
                background-color: rgba(0,0,0,.2);
                background-size: auto;
                background-size: 50%;
                height: 100%;
                padding: 0 14px 0 24px;
                text-indent: -9999px;
                width: auto;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                border: 0 none;
            }

            #sub-brand {
                position: absolute;
                height: 75px;
                width: 300px;
                right: 9%;
                top: 80px;
                background: 0 0 no-repeat url(../img/logo.png);
            }

            .menu-on#sub-brand {
                right: calc(9% + 300px);
            }

            @media only screen and (max-width: 767px) {
                .roof .menu-btn + form {
                    right: 0;
                }

                .roof form {
                    position: relative;
                    right: auto;
                    display: block;
                    padding-top: 0;
                    top: auto;
                    width: 100%;
                    padding: 0;
                    max-width: none;
                }

                .search button {
                    display: none;
                }

                .roof input[placeholder="Search"] {
                    padding-bottom: .35em;
                    padding-top: .35em;
                    padding-right: 8px;
                    width: 100%;
                    max-width: unset;
                    background-image: url(../img/icon-magnify.png);
                    background-repeat: no-repeat;
                    background-position: 98% center;
                    background-size: auto 80%;
                    font-size: 16px;
                }
            }

            @media only screen and (max-width: 1300px) {
                .roof form {
                    right: calc(2% + 42px);
                }

                #sub-brand, .menu-btn {
                    right: 2%;
                }
            }

            @media only screen and (max-width: 1525px) {
                .menu-on #sub-brand {
                    visibility: hidden;
                }
            }

            @media only screen and (min-width: 1301px) {
                .menu-on #sub-brand {
                    right: calc(9% + 270px);
                }
            }

            @media only screen and (min-width: 1700px) {
                .roof form {
                    right: calc(15% + 42px);
                }

                #sub-brand, .menu-btn {
                    right: 15%;
                }

                .menu-on #sub-brand {
                    right: calc(15% + 400px);
                }
            }

        /* ------------------------------------------------------
            2.1.2. Sitename
        ------------------------------------------------------ */

            #sitename, #sitename a {
                box-sizing: border-box;
                color: #333;
                border: 0;
                padding-top: 0;
                padding-bottom: 0;
            }

            #sitename a:hover {
                color: var(--cmu-red);
            }
            
            #sitename {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }

            #sitename h1 {
                font-size: 3em;
                line-height: 1.15em;
            }

            @media only screen and (max-width: 767px) {
                #sitename h1 {
                    line-height: 1.15em;
                    padding-bottom: .125em;
                }

                header:not(.float) #sitename {
                    padding-left: 0;
                    padding-right: 0;
                    margin: 0 2%;
                }
                
                #content, #sitename {
                    padding-top: 1em;
                    transition: none;
                }
            }

            @media only screen and (max-width: 991px) {
                #sitename h1 {
                    font-size: 2.5em;
                }
            }

        /* ------------------------------------------------------
            2.1.3. Secondary Nav
        ------------------------------------------------------ */

            #other-nav {
                transition: background-color .3s ease,border-color .3s ease,box-shadow .3s ease,color .3s ease,margin .3s ease,min-height .3s ease,max-width .3s ease,opacity .3s ease,padding-left .3s ease,padding-right .3s ease,left .3s ease,right .3s ease,text-shadow .3s ease,width .3s ease;
            }

            #other-nav ul {
                display: table;
                width: 100%;

                margin-bottom: 0;
            }

            #other-nav li {
                display: table-cell;

                border-left: 0.5px solid rgba(0,0,0,.2);
            }

            #other-nav li:first-child {
                border-left: 0;
            }

            /* We only need the bottom border on non-index pages */
            .not-index#other-nav li:not(.active) {
                border-bottom: 0.5px solid rgba(0,0,0,.2);
            }

            .not-index#other-nav {
                margin-bottom: 1em;
            }
            
            #other-nav li a, #other-nav li a:visited {
                color: rgba(0,0,0,.65);
                display: block;
                font-size: 80%;
                font-weight: 700;
                line-height: 1.35em;
                margin: .15em 0;
                text-align: center;
                width: 100%;

                border-bottom: 0;
            }

            #other-nav a, #other-nav a:visited {
                color: rgba(0,0,0,.65);
            }

            #other-nav a:hover {
                color: var(--cmu-red);
            }

            
            
    /* ------------------------------------------------------
        2.2. Header text
    ------------------------------------------------------ */

        .menu-btn b {
            display: block;
            font-weight: 400;
            line-height: 7px;
            right: 0;
            transition: none !important;
        }

/* ------------------------------------------------------
    3. Main
------------------------------------------------------ */

    .container {
        max-width: unset;
    }

    .core {
        padding: 0 9%;
    }

    /* Phone Screens */
    @media only screen and (max-width: 767px) {
        .core {
            position: relative;
        }
    }

    /* Tablet Screens */
    @media only screen and (max-width: 1300px) {
        .core {
            padding: 0 2%;
        }
    }

    /* Desktop Screens */
    @media only screen and (min-width: 1700px) {
        .core {
            padding: 0 15%;
        }
    }

    .core > * {
        margin: 0;
    }

    .core h1, .core h2, .core h3, .core h4, .core h5, .core h6 {
        padding: 0 15px 10px;
    }

    .core div {
        padding-bottom: 1em;
    }

    /* Wrapper to have background image and transparent background color */
    .wrapper {
        margin: 0;
        margin-top: -4em;
        padding: 0 !important;
        background: 0 0 repeat url("../img/tartan-min.png");
        border-radius: 1em;
    }

    .quote {
        height: 100%;
        width: 100%;
        padding: 1em;
        background: rgba(255,255,255,0.8);
        border-radius: 1em;
    }

    #fakequote blockquote::before {
        content: open-quote;
        font-size: 2em;
    }

    #fakequote blockquote::after {
        content: close-quote;
    }

    blockquote {
        letter-spacing: 1px;
    }

    blockquote.align-left {
        border-left: solid var(--cmu-dark-gray);
        padding-left: 5px;
        margin-left: 2.5px;
    }

    blockquote.align-right {
        border-right: 2px solid var(--cmu-dark-gray);
        padding-right: 5px;
        margin-right: 2.5px;
    }

    /* General styles */
    .align-left {
        text-align: right;
    }

    .align-right {
        text-align: right;
    }

    /* Hide link border on LEARN MORE text */
    a.cta {
        border: none;
    }

    /* Shift quote down when colliding with header text */
    @media only screen and (max-width: 1150px) {
        .wrapper {
            margin-top: 0;
        }
    }

    /* ------------------------------------------------------
        3.1. Carousel
    ------------------------------------------------------ */
        
        #image-carousel {
            position : relative;
            display : block;
            overflow : hidden;
            width : 100%;
            max-width : 100vw;
            height : 49.5vw;
            max-height : 100%;
            margin : 0 auto 2em;
        }

        .slider {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 1;
            z-index: 0;
        }
          
        /* Slider images */  
        .slide_img_01 {
            background : url('../img/shopping-min.jpg') no-repeat center;
            background-size: cover;
            left: 0;
        }
        
        .slide_img_02 {
            background : url('../img/greece-min.jpg') no-repeat center;
            background-size : cover;
            left: 100%;
        }
        
        .slide_img_03 {
            background : url('../img/book-min.jpg') no-repeat center;
            background-size : cover;
            left: 200%;
        }
        
        .slide_img_04 {
            background : url('../img/closed-min.jpg') no-repeat center;
            background-size : cover;
            left: 300%;
        }
        
        .slide_img_05 {
            background : url('../img/photos-min.jpg') no-repeat center;
            background-size : cover;
            left: 400%;
        }
        

        /* Next and Prev arrow */ 
        .control {
            position: absolute;
            top: 50%;
            margin-top: -24px;
            z-index: 55;

            background: rgba(255,255,255,.75);
        }

        .control:hover {
            background: white;
        }
        
        .control label {
            display: none;
            cursor: pointer;
            opacity: 0.9;

            width : 48px;
            height : 48px;
            text-indent: -9999px;
        }

        .control svg {
            position: absolute;
            left: 0;
            top: 15%;
            width: 100%;
            height: 70%;

            fill: #858585;
        }
        
        .control svg:hover {
            transition : all .5s ease;
            fill : #000;
            opacity: 1.0;
        }
        
        .next {            
            transform: rotate(180deg);
            transform-origin: center;
            right: 0;
        }

        /* Slider Pagger */ 
        .slider-pagination {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px;
            margin: auto 0;
            text-align: center;

            background: rgba(255,255,255,.75);

            z-index: 70;
        }
        
        .slider-pagination label {
            width: 12.5px;
            height: 12.5px;
            border-radius: 50%;
            display: inline-block;
            background: rgba(0,0,0,0.2);
            margin: 0 2px;
            cursor: pointer;
        }
        

        /* Slider Pagger arrow event */
        .slide-radio1:checked ~ .next .num2, .slide-radio2:checked ~ .next .num3, .slide-radio3:checked ~ .next .num4, .slide-radio4:checked ~ .next .num5, .slide-radio5:checked ~ .next .num1,
        .slide-radio5:checked ~ .previous .num4, .slide-radio4:checked ~ .previous .num3, .slide-radio3:checked ~ .previous .num2, .slide-radio2:checked ~ .previous .num1, .slide-radio1:checked ~ .previous .num5 {
            display: block;
        }
        

        /* Slider Pagger event */
        .slide-radio1:checked ~ .slider-pagination .page1, .slide-radio2:checked ~ .slider-pagination .page2, .slide-radio3:checked ~ .slider-pagination .page3, .slide-radio4:checked ~ .slider-pagination .page4, .slide-radio5:checked ~ .slider-pagination .page5 {
            background: #333;
        }
        

        /* Slide effect */
        .slide-radio1:checked ~ .slider { transform: translateX(0%); }
        .slide-radio2:checked ~ .slider { transform: translateX(-100%); }
        .slide-radio3:checked ~ .slider { transform: translateX(-200%); }
        .slide-radio4:checked ~ .slider { transform: translateX(-300%); }
        .slide-radio5:checked ~ .slider { transform: translateX(-400%); }
        

        /*	Slider Mobile	====================================================================================== */
        
        @media only screen and (max-width: 767px) {
        
            #image-carousel {
                position : relative;
                width : 100%;
                height : 400px;
            }
            
            .slider > div { padding: 0 2% }
            
            .control {
                position: absolute;
                top: 60%;
                margin-top: -24px;
                z-index: 55;
            }

            .slider-pagination {
                padding: 5px;
            }
            
            .control label {
                width : 32px;
                height : 32px;
            }
        }


        /* ------------------------------------------------------
            3.2 Text Blurb
        ------------------------------------------------------ */

            .box {
                background-color: rgba(255,255,255,.9);
                bottom: 3.5em;
                color: #666;
                padding: .65em 1em;
                position: absolute;
                border-bottom-color: transparent;
                width: calc(41% - 2em);
                z-index: 10;
            }

            .box:hover * {
                border: none;
                color: red;
            }

            .box h1 {
                line-height: 1.25em;
                margin: 0;
                padding: 0;
                border-bottom-color: transparent;
            }

            .box p {
                padding: .65em 0 0;
                color: var(--cmu-dark-gray);
            }

            .box p:hover {
                color: red;
            }

            .cta::after {
                content: " \25BA";
                display: inline;
                position: relative;
                font-size: 75%;
                top: -1px;
                margin-left: .15em;
            }

            .small {
                width: calc(33.333% - 2em);
            }

            .small {
                font-size: 90%;
                letter-spacing: .025em;
                line-height: 1em;
            }

            .left {
                left: 9%;
            }

            .right {
                right: 9%;
            }

            @media only screen and (min-width: 1700px) {
                .box {
                    width: calc(35% - 2em);
                }

                .small {
                    width: calc(27.222% - 2em);
                }

                .left {
                    left: 15%;
                }

                .right {
                    right: 15%;
                }
            }
            

    /* ------------------------------------------------------
        3.3. Breadcrumbs
    ------------------------------------------------------ */

        nav[aria-label = "breadcrumb"] {
            margin-top: -4em;
        }

        ol.breadcrumb{
            background: none !important;
        }

        .breadcrumb-item, .breadcrumb-item:first-child {
            padding: 8px 8px 8px 0;
        }

        @media only screen and (max-width: 767px) {
            nav[aria-label = "breadcrumb"] {
                margin-top: -2em;
            }

            .breadcrumb-item, .breadcrumb-item:first-child {
                padding-right: 4px;
            }
        }
            

    /* ------------------------------------------------------
        3.4. Images
    ------------------------------------------------------ */

        #work-img {
            background: 0 0 no-repeat url("../img/work-min.jpg");
            background-size: cover;
            
            width: 100%;
            height: 20vw;

            margin-bottom: 15px;
            margin-left: 15px;
            margin-right: -15px;

            border-radius: 5px;
        }

        #work-img + div {
            padding-left: 30px;
        }

        @media only screen and (max-width: 767px) {
            #work-img {
                height: 50vw;
                margin-right: 0;
            }

            #work-img + div {
                padding-left: 15px;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 960px) {
            #work-img {
                height: 30vw;
            }
        }

/* ------------------------------------------------------
    4. Footer
------------------------------------------------------ */

    .foot {
        padding: 0 9%;
        font-size: 90%;
        letter-spacing: .05em;
    }

    /* Phone Screens */
    @media only screen and (max-width: 767px) {
        .foot {
            position: relative;
        }
    }

    /* Tablet Screens */
    @media only screen and (max-width: 1300px) {
        .foot {
            padding: 0 2%;
        }
    }

    /* Desktop Screens */
    @media only screen and (min-width: 1700px) {
        .foot {
            padding: 0 15%;
        }
    }

    /* Footer with site links */
    #sub-footer {
        background-color: var(--cmu-gray);
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #sub-footer ul {
        margin: 0;
    }

    #final-footer {
        background-color: #333;
        color: var(--cmu-gray);
        padding-top: 2em;
        padding-bottom: 2em;
    }

    footer #address > p {
        color: rgba(255,255,255,0.5);
        margin: 0;
    }

    #address > p:last-child {
        margin-bottom: 1em;
    }

    #legal > p:first-child > a {
        color: #fff;
        border: none;
    }

    #legal > p:last-child {
        color: rgba(255,255,255,0.5);
    }

    /* Socials */
    /* All socials use the same spritesheet. Select a different image by translating the background image on the x axis */
    #my-socials {
        margin: 0;
        padding: 0;
    }

    #my-socials li {
        display: inline;
    }

    #my-socials li:first-child {
        padding-top: 7.2px;
    }

    #my-socials a {
        display: inline-block;
        height: 30px;
        width: 30px;
        margin: 0 6px 6px 0;
        padding-bottom: 0 !important;
        text-indent: -9999px;
    }

    #facebook {
        background: 0 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

    #twitter {
        background: -32px 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

    #youtube {
        background: -130px 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

    #rss {
        background: -194px 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

    #instagram {
        background: -258px 0 no-repeat url(../img/sprites-social.png);
        background-size: auto 100%;
        border-bottom: 0 none !important;
    }

/* ------------------------------------------------------
    5. Sidenav
------------------------------------------------------ */

    #non-sidenav {
        display: inline-block;
        width: 100%;

        z-index: 100;
    }

    #sidenav {
        width: 300px;
        height: 100%;
        background: #333;
        z-index: 102;
    }

    nav#sidenav {
        position: fixed;
        top: 0;
        z-index: 100;
        right: -500px;
        width: 300px;
        height: 100%;
        background-color: #333 !important;
        overflow: hidden;
        box-sizing: border-box;
        opacity: 0;
        transition: right .2s ease;
    }

    .menu-on#sidenav {
        display: block;
        position: fixed;
        border-left: 1px solid rgba(0,0,0,.35);
        right: 0;
        opacity: 1;
    }    

    /* Handle resizing on default to -300px less */
    .menu-on#non-sidenav {
        width: calc(100% - 300px);
    }

    .menu-btn#close-nav {
        right: 5px;
    }

    #sidenav h1 {
        padding-left: 1em;
        font-size: 1.5em;
    }

    #sidenav h1 a {
        color: rgba(255,255,255,.85);
    }

    /* Handle side nav on small screens to cover, not resize*/
    @media only screen and (max-width: 676px) {
        nav#sidenav {
            right: -85%;
            width: 85%;
        }
    }

    @media only screen and (min-width: 676px) and (max-width: 991px) {
        .menu-on#non-sidenav {
            width: 100vw;
            position: fixed;
        }

        nav#sidenav {
            right: -50%;
            width: 50%;
        }
    }

    @media only screen and (min-width: 992px) {
        #sidenav h1 {
            padding-top: 2em;
        }
    }

    /* Handle resizing on large screens to -450px less */
    @media only screen and (min-width: 1700px) {
        .menu-on#non-sidenav {
            width: calc(100% - 450px) !important;
            z-index: 102;
        }

        #sidenav {
            width: 450px !important;
        }
    }

    /* ------------------------------------------------------
        5.1. Links
    ------------------------------------------------------ */
    
        .menu-list a, .menu-list a:visited {
            color: rgba(255,255,255,.85);
        }

        .menu-list li {
            padding-top: 0.25em;
        }
        
        .menu-list li:not(.secondary) {
            border-bottom: 0.5px solid rgba(255,255,255,.15);
        }

        .menu-list li:not(.secondary):first-child {
            border-top: 0.5px solid rgba(255,255,255,.15);
        }

        .menu-list li.secondary a {
            font-weight: 300;
        }

        .menu-list > ul > li:not(.secondary) > a {
            letter-spacing: .05em;
        }

        .menu-list ul ul li {
            text-indent: 2em;
        }

        ul.sub-menu {
            border-bottom: 0.5px solid rgba(255,255,255,.15)
        }

        li[aria-expanded="true"] {
            border: 0 none white !important;
        }

        .menu-list a {
            padding: .25em 2em;
            line-height: 1.5em;
            padding-right: 70px;
            font-weight: 700;
        }

        #sidenav li:hover {
            background-color: rgba(255,255,255,.25);
            transition: background-color .3s ease,border-color .3s ease,box-shadow .3s ease,color .3s ease,margin .3s ease,min-height .3s ease,max-width .3s ease,opacity .3s ease,padding-left .3s ease,padding-right .3s ease,left .3s ease,right .3s ease,text-shadow .3s ease,width .3s ease;
        }

        #sidenav h1 a:hover {
            color: #fff !important;
            text-shadow: 0 0 5px rgba(0,0,0,.5);
        }

        @media only screen and (min-width: 992px) {
            #sidenav h1 {
                padding-top: 2em;
            }

            .menu-list a {
                padding-right: 30px;
            }
        }

        @media only screen and (min-width: 1700px) {
            .menu-list a {
                padding-right: 70px;
            }
        }

    /* ------------------------------------------------------
        5.2. Search
    ------------------------------------------------------ */

    #sidenav form {
        padding-top: 1em;
        padding-left: 1.5em;
        padding-bottom: 0.5em;
        display: flex;
        flex-flow: nowrap row;
        align-items: stretch;
        align-content: stretch;
        justify-content: flex-start;
        line-height: 2em;
        width: 100%;
    }

    #sidenav input:not([type="radio"]), select, textarea {
        border-radius: 0;
    }

    #sidenav input[placeholder="Search"] {
        background-color: rgba(255,255,255,.2);
        border: 0 none;
        color: #fff;
        height: 100%;
        margin: 0;
        padding: 0 30px 0 8px;
        width: calc(100% - 38px);
    }

    #sidenav label.searchSite {
        display: none;
        position: absolute;
        letter-spacing: .025em;
        left: -105%;
        text-align: right;
        top: 30%;
    }

    #sidenav .search button {
        height: 100%;
        margin: 0;
    }

    #sidenav li.active {
        background-color: rgba(255,255,255,0.25);
    }

    #sidenav .search label.searchSite span {
        font-size: 90%;
        margin: 1px 0 0 .5em;
        float: right;
    }

    /* Hide checkbox until searchbox is clicked within */
    #sidenav .search label.searchSite, #sidenav .search label:not(.searchSite) span {
        display: none;
    }

    #sidenav input[type="checkbox"] {
        margin: 0;
        vertical-align: baseline;
    }

    #nav-submit {
        display: block;
        position: relative;
        right: 2.35em;
        background: url(../img/icon-magnify.png) scroll no-repeat 50% 50%;
        background-color: rgba(255,255,255,.2);
        background-size: auto;
        background-size: 50%;
        text-indent: -9999px;
        border: 0 none;

        height: 2em !important;
    }